# spacetrackのテスト

see https://pythonhosted.org/spacetrack/usage.html

In [1]:
import spacetrack.operators as op
from spacetrack import SpaceTrackClient
import pandas as pd
import json

In [2]:
# userid and password are set in here
import spacetrackaccount
# print("Login with " + spacetrackaccount.userid)

In [3]:
st = SpaceTrackClient(spacetrackaccount.userid, spacetrackaccount.password)

In [4]:
def mycallback(until):
    duration = int(round(until - time.time()))
    print('Sleeping for {:d} seconds.'.format(duration))

st.callback = mycallback

In [5]:
# example
#data = st.tle_latest(iter_lines=True, ordinal=1, epoch='>now-30',
#                     mean_motion=op.inclusive_range(0.99, 1.01),
#                     eccentricity=op.less_than(0.01), format='tle')

In [6]:
# 全衛星の最新データ(30日以内)
data = st.tle_latest(iter_lines=True, ordinal=1, epoch='>now-30', orderby='norad_cat_id', format='3le')

In [7]:
with open('download/tle_latest.txt', 'w') as fp:
    for line in data:
        fp.write(line + '\n')

In [8]:
# 特定の衛星の過去の全データ
data = st.tle(iter_lines=True, norad_cat_id=25544, orderby='epoch', format='tle')

In [9]:
with open('download/tle_25544_all.txt', 'w') as fp:
    for line in data:
        fp.write(line + '\n')

In [10]:
# 複数の衛星の過去の全データをjsonで取得
data = st.tle(norad_cat_id=[op.inclusive_range(1, 20)], orderby=['norad_cat_id', 'epoch'], format='json')

In [11]:
with open('download/test.json', 'w') as fp:
        fp.write(data)

In [12]:
df = pd.read_json(data, orient='records')

In [13]:
df[0:3]

,COMMENT,ORIGINATOR,NORAD_CAT_ID,OBJECT_NAME,OBJECT_TYPE,CLASSIFICATION_TYPE,INTLDES,EPOCH,EPOCH_MICROSECONDS,MEAN_MOTION,...,TLE_LINE0,TLE_LINE1,TLE_LINE2,OBJECT_ID,OBJECT_NUMBER,SEMIMAJOR_AXIS,PERIOD,APOGEE,PERIGEE,DECAYED
0,GENERATED VIA SPACETRACK.ORG API,18 SPCS,4,EXPLORER 1,PAYLOAD,U,58001A,1959-07-09 22:15:15,874847,13.063418,...,0 EXPLORER 1,1 00004U 58001 A 59190.92726707 .00080584 +0...,2 00004 033.1849 192.1350 1155556 327.9492 035...,1958-001A,4,7615.485,110.231,2117.362,357.338,1
1,GENERATED VIA SPACETRACK.ORG API,18 SPCS,4,EXPLORER 1,PAYLOAD,U,58001A,1959-07-17 13:46:31,735488,13.075958,...,0 EXPLORER 1,1 00004U 58001 A 59198.57397842 .00082991 +0...,2 00004 033.1849 157.3663 1149895 020.6576 341...,1958-001A,4,7610.615,110.125,2107.621,357.339,1
2,GENERATED VIA SPACETRACK.ORG API,18 SPCS,4,EXPLORER 1,PAYLOAD,U,58001A,1959-08-01 20:45:25,598304,13.072853,...,0 EXPLORER 1,1 00004U 58001 A 59213.86487961 .00063193 +0...,2 00004 033.1849 087.4068 1151275 126.2272 239...,1958-001A,4,7611.820,110.151,2110.015,357.355,1

In [14]:
df.TLE_LINE1[0]

'1 00004U 58001  A 59190.92726707  .00080584 +00000-0 +00000-0 0  9997'